@font-face{
    font-family: "luckiest-guy";
    src: url(./LuckiestGuy.ttf);
}

*{
	font-family: 'luckiest-guy', cursive;
	color: #001020;
	margin: auto;
	user-select: none; /* Standard */
}
body{
	background-color: #E6DEDE;
	text-align: center;
}
#btn{
	background-color: #3973AC;
	font-size: 2.5vw;
	border: none;
	color: #000000;
	margin-top: 5%;
}
#btn:hover{
	background-color: #184162;
	color: #FFFFFF;
}
h1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 55px/normal "luckiest-guy", Helvetica, sans-serif;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  margin-top: 3%;
	font-size: 7vw;
}
#form{
	color: #FFFFFF;
	width: 30%;
}
.form-control{
	margin-bottom: 25px;
	background-color: #94ACC5;
	color: #FFFFFF;
}
.form-control:focus{
	background-color: #E6DEDE
}
#succes{
	
}