@font-face{
    font-family: "luckiest-guy";
    src: url(./LuckiestGuy.ttf);
}

*{
	font-family: 'luckiest-guy', cursive;
	color: #001020;
	margin: auto;
	user-select: none; /* Standard */
}
body{
	background-color: #949CAC;
	text-align: center;
}
#btn{
	background-color: #3973AC;
	font-size: 2.5vw;
	border: none;
	color: #000000;
	margin-top: 60px;
}
#btn:hover{
	background-color: #184162;
	color: #FFFFFF;
}
ul{
	margin-top: 10%;
	list-style-type: none;
}
li{
	margin-bottom: 1%;
}
h1 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 55px/normal "luckiest-guy", Helvetica, sans-serif;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 3px;
  margin-top: 3%;
	font-size: 7vw;
}
#lblParoles{
	color: black;
	font-size: 4rem;
}
#tempsRestant{
	color: black;
	width: 50px; 
	height: 50px;
	font-size: 3rem;
}
.timer{
	color: red;
}